section {
	padding: 2em 0 6em 0;
}

.card__button {
	border: none;
	border-radius: 50px;
	background-color: #f40000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	padding: 0.8em 2em;
	text-transform: uppercase;

	&:hover {
		background-color: darken(#f40000, 10%);
	}
}

.section__title {
	text-transform: uppercase;
	font-size: clamp(2rem, 5vw, 2.5rem);
	text-align: center;
	font-weight: 600;
	margin: 1.5em 0;

	span {
		color: #f40000;
	}
}
