@import './base/reset';
@import './base/variables';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.section__title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: clamp(1.25rem, 5vw, 1.5rem);
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 12em;
		height: 10px;
		background-color: $primary-green;
	}
}

@import './header';
@import './gallery';
@import './plans';
@import './contact';
@import './footer';
