@import './base/reset';
@import './base/variables';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

@import './header';
